<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453984247156-73om308deid77j7siip7qnrha6mfh02g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453984247156-73om308deid77j7siip7qnrha6mfh02g</string>
	<key>API_KEY</key>
	<string>AIzaSyBEh4wtWSFgfmfSunrNoQFw1cgpLYX5LMo</string>
	<key>GCM_SENDER_ID</key>
	<string>453984247156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.JoyTiria</string>
	<key>PROJECT_ID</key>
	<string>groupsmanager-e8fb2</string>
	<key>STORAGE_BUCKET</key>
	<string>groupsmanager-e8fb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453984247156:ios:d01345d6281cacacac6021</string>
</dict>
</plist>